START
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
READ
STOREG 0
PUSHG 0
ATOI
STOREG 0
PUSHG 0
PUSHI 1
SUB
STOREG 0
READ
STOREG 1
PUSHG 1
ATOI
STOREG 1
FOR0:
PUSHG 3
PUSHG 0
INF
JZ ENDFOR0
READ
STOREG 2
PUSHG 2
ATOI
STOREG 2
PUSHG 3
PUSHI 1
ADD
STOREG 3
PUSHG 2
PUSHG 1
INF
JZ ENDIF0
PUSHG 2
STOREG 1
ENDIF0:
JUMP FOR0
ENDFOR0:
PUSHS "O menor numero e :"
WRITES
PUSHG 1
WRITEI
STOP